# Development Environment Variables
NG_APP_API_URL=http://localhost:3000/api
NG_APP_ENV=development
NG_APP_GA_ID=

# Production Environment Variables
# NG_APP_API_URL=https://api.tgs-growth-studio.com
# NG_APP_ENV=production
# NG_APP_GA_ID=UA-XXXXX-X
